<?xml version='1.0' encoding='UTF-8'?>
<robot name="random_box">
  <link name="box">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="color">
        <color rgba="0.7644910906174824 0.5423491929866385 0.8360857453028946 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
</robot>
