<?xml version='1.0' encoding='UTF-8'?>
<robot name="random_box">
  <link name="box">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.09"/>
      </geometry>
      <material name="color">
        <color rgba="0.24136897618387543 0.5560610909150081 0.36251657057081266 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.09"/>
      </geometry>
    </collision>
  </link>
</robot>
