<?xml version='1.0' encoding='UTF-8'?>
<robot name="random_box">
  <link name="box">
    <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="color">
        <color rgba="0.6529401250435345 0.9510562535942396 0.16318030309141363 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
    </collision>
  </link>
</robot>
